// navigation
$nav-background: #3F6969;
$nav-darker: #325352;
$nav-text: #fff;

// text
$white-text: #fff;
$black-text: #4c4f51;

// colors
$accent-primary: #487F33;
$accent-secondary: #007D7D;
$accent-bad: #C01717;
$accent-warning: #FDC600;

// ask greg
$accent-tertiary: #73777A;