$footer-buttons-padding: 20px;

ion-modal {
  .modal-wrapper {
    --border-radius: 10px;

    // match the header style from the style guide
    ion-toolbar {
      --background: #f0f0f0;

      ion-title {
        padding: 12px 51px 10px 14px;
        font-size: 18px; 
        color: $text-normal; 
        letter-spacing: 0.22px; 
        text-align: justify; 
        font-family: Arial; 
        font-weight: 400; 
      }

      relias-icon {
        padding-right: 18px;
        cursor: pointer;
      }
    }

    // fix a footer to the bottom, supporting left and right buttons
    .modal-footer {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .left-buttons {
        position: absolute;
        left: $footer-buttons-padding;
        bottom: $footer-buttons-padding;

        button {
          margin-right: 10px;
        }
      }
      .right-buttons {
        position: absolute;
        right: $footer-buttons-padding;
        bottom: $footer-buttons-padding;

        button {
          margin-left: 10px;
        }
      }
    }
  }

  // allow custom widths
  &.width-700 .modal-wrapper {
    --width: 700px;
  }
}