.page-header {
  color: #000;
  font-size: 22px; 
  letter-spacing: 0.26px;
  font-family: Helvetica; 
  font-weight: 400; 
}
.page-container {
  color: #4C4F51;
}
.sub-text {
  color: #818A91;
}
.link {
  color: #007D7D;
}

.text-medium {
  font-size: 14px; 
  color: #4C4F51; 
  letter-spacing: 0.17px; 
  line-height: 20px; 
  font-family: Arial; 
  font-weight: 400;
}