<div class="datepicker-container">
  <input placeholder="2/23/2019"
    [ngClass]="{'selected': selected}"
    [value]="modelString"
    name="dp"
    ngbDatepicker 
    #d="ngbDatepicker" 
    navigation="arrows"
    firstDayOfWeek="7"
    [footerTemplate]="footer"
    (dateSelect)="dateSelected($event)">

  <div class="button-container" (click)="d.toggle()">
    <relias-icon [name]="Icons.calendar"></relias-icon>
  </div>  
</div>

<!-- footer template for the date picker -->
<ng-template #footer>
  <div class="datepicker-footer">
    {{ footerString }}
  </div>
</ng-template>