@import '../../styles/colors';

.left-nav-item {
  min-height: 45px;
  max-height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $nav-level-01;
  color: $text-nav-level-n;
  padding: 8px 6px;
  font-size: 14px; 
  letter-spacing: 0.17px; 
  font-family: Arial; 
  font-weight: 400;
  cursor: pointer;

  .title-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  relias-icon.title-icon {
    margin-right: 4px;
    height: 27px;
  }

  relias-icon.dropdown {
    // transition: 300ms;

    &.expanded {
      -ms-transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg);
    }
  }

  &.nav-level-0 {
    position: relative;
    cursor: initial;
    
    .title-container {
      position: absolute;
      text-transform: uppercase;
      bottom: 5px;
      left: 11px;
      font-size: 11px;
      letter-spacing: 0.13px; 
      font-family: Arial; 
      font-weight: 700; 
    }

    relias-icon.dropdown {
      display: none;
    }
  }

  &.nav-level-2,
  &.nav-level-3 {
    padding-left: 13px;
    background: $nav-level-n;
  }
}

.children-container {
  height: 0;
  display: none;

  &.expanded {
    height: auto;
    display: initial;
  }
}