<div class="left-nav-item nav-level-{{level}}" *ngIf="item" (click)="itemClicked()">
  <div class="title-container">
    <relias-icon class="title-icon" [name]="item.icon" *ngIf="item.icon"></relias-icon>
    {{ item.title }}
  </div>
  <relias-icon class="dropdown" [name]="Icons.leftNavExpand" *ngIf="item.children" [ngClass]="{'expanded': item.expanded}"></relias-icon>
</div>

<div class="children-container" *ngIf="item.children" [ngClass]="{'expanded': item.expanded}">
  <relias-left-nav-item 
    [item]="child"
    [level]="nextLevel"
    *ngFor="let child of item.children">
  </relias-left-nav-item>
</div>