<ion-content>
  <div class="page-content" padding>
    <div class="content-card">
      
      <!-- title and back button -->
      <div class="title-container" padding>
        <kalamata-back-button></kalamata-back-button>
        <div class="title">
          <div class="page-header">Metabolics Screenings</div>
          <button class="relias-button button-secondary">Export</button>
        </div>
      </div>

      <!-- filter bar -->
      <div padding>
        <div>
          <button class="relias-button button-filter fixed">
            Last Modified By: Smith, Mary
          </button>
        </div>
        <div>
          <button class="relias-button button-primary">
            Add Screening
          </button>
        </div>
      </div>


    </div>
  </div>
</ion-content>
