<ion-content>
  <div class="page-content" padding>
    <div class="content-card">
      
      <!-- title and back button -->
      <div class="title-container" padding>
        <relias-back-button></relias-back-button>
        <div class="title">
          <div class="page-header">Metabolics Screenings</div>
          <button class="relias-button button-secondary">Export</button>
        </div>
      </div>

      <!-- filter bar and add screening -->
      <relias-filter-bar></relias-filter-bar>
      <div class="add-screening-container">
        <button class="relias-button button-primary" (click)="addScreening()">
          Add Screening
        </button>
      </div>

      <!-- screenings list table -->

    </div>
  </div>
</ion-content>
