<ion-content>
  <div class="page-content" padding>
    <div class="content-card">
      
      <!-- title and back button -->
      <div class="title-container" padding>
        <relias-back-button></relias-back-button>
        <div class="title">
          <div class="page-header">Metabolics Screenings</div>
          <button class="relias-button button-secondary">Export</button>
        </div>
      </div>

      <!-- filter bar -->
      <div padding>
        <div>
          <button class="relias-button button-filter">
            Last Modified By: Smith, Mary
            <relias-icon [name]="Icons.buttonFilter"></relias-icon>
          </button>
        </div>
        <div>
          <button class="relias-button button-primary">
            Add Screening
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
