@import "../../styles/colors";

.content-card {
  padding-bottom: 10px;
}

.title-container {
  border-bottom: 1px solid #7f7f7f;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.add-screening-container {
  margin: 10px;
}