@import '../../styles/colors';

button {
  margin: 0 10px 10px 0;
}
.searchbar-container {
  max-width: 300px;
}
.icons-container {
  display: flex;
  flex-wrap: wrap;

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    font-size: 12px;
    margin: 5px;
  }

  .icon-background {
    background: #eee;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

    // put the nav icons on a darker background
    &[class*=' leftNav'] {
      background: $nav-level-01;
    }
  }
}