<ion-content>
  <div class="page-content" padding>
    <div class="content-card">
      
      <!-- relias button -->
      <div padding>
        <h2>.relias-button</h2>
    
        <button class="relias-button button-primary">
          .button-primary
        </button>
    
        <button class="relias-button button-secondary">
          .button-secondary
        </button>
    
        <button class="relias-button button-tertiary">
          .button-tertiary
        </button>
      </div>
    
      <!-- relias button as filter -->
      <div padding>
        <h2>.relias-button .button-filter</h2>
    
        <button class="relias-button button-filter">
          With Icon
          <img src="../../../assets/icons/button-filter.png">
        </button>
    
        <button class="relias-button button-filter fixed">
          No Icon
        </button>
    
        <button class="relias-button button-filter read-only">
          Read Only
        </button>
      </div>
    
      <!-- relias button large -->
      <div padding>
        <h2>.relias-button .button-large</h2>
    
        <button class="relias-button button-large button-primary">
          .button-primary
        </button>
    
        <button class="relias-button button-large button-secondary">
          .button-secondary
        </button>
      </div>

    </div>
  </div>
</ion-content>
