<ion-content>
  <div class="page-content" padding>
    <div class="content-card" padding>

      <a class="view-style-guide" href="https://zeroheight.com/3zafyike3" target="_blank">
        <button rui-button-primary>
          View the style guide
        </button>
      </a>
      <a class="view-style-guide" href="https://relias-ui-doc.azurewebsites.net/components" target="_blank">
        <button rui-button-secondary>
          Relias UI Lib Docs
        </button>
      </a>

      <h1>Buttons</h1>
      
      <!-- relias button -->
      <h4>.relias-button</h4>

      <button rui-button-primary>
        Primary Button
      </button>
  
      <button rui-button-secondary>
        Secondary Button
      </button>

      <button rui-button-tertiary>
        Tertiary Button
      </button>
      
      <button class="relias-button icon-only">
        <relias-icon [name]="Icons.navClose"></relias-icon>
      </button>

      <!-- relias button as filter -->
      <h4>.relias-button .button-filter</h4>
  
      <button class="relias-button button-filter">
        With Icon
        <relias-icon [name]="Icons.buttonFilter"></relias-icon>
      </button>
  
      <button class="relias-button button-filter fixed">
        No Icon
      </button>
  
      <button class="relias-button button-filter read-only">
        Read Only
      </button>

      <h1>Components</h1>

      <h4>&lt;relias-searchbar&gt;&lt;/relias-searchbar&gt;</h4>
      <div class="searchbar-container">
        <relias-searchbar></relias-searchbar>
      </div>

      <h1>Icons</h1>

      <div class="icons-container">
        <div class="icon-container" *ngFor="let key of objectKeys(Icons)">
          <div class="icon-background {{key}}" [title]="key">
            <relias-icon [name]="Icons[key]"></relias-icon>
          </div>
          <label>{{ key }}</label>
        </div>
      </div>

      <h1>Relias UI Lib Components</h1>

      <h4>Multiselect</h4>

      <rui-multiselect
        name="multiselect"
        [values]="values"
        [placeholder]="filterLabel"
        [searchPlaceholder]="searchPlaceholder">
      </rui-multiselect>

      <h4>Datepicker</h4>

      <rui-datepicker [(ngModel)]="dateValue" name="fieldName" ngDefaultControl></rui-datepicker>

    </div>
  </div>
</ion-content>
