<!-- header -->
<ion-header>
  <ion-toolbar>
    <ion-title>Metabolic Screening</ion-title>
    <relias-icon [name]="Icons.navClose" slot="end" (click)="closeModal()"></relias-icon>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content>
  <div class="modal-content">
    
    <div class="member-and-date-container">
      <div class="member-search-container">
        <div class="input-label">Member:</div>
        <relias-searchbar></relias-searchbar>
      </div>
    </div>

  </div>
</ion-content>

<!-- footer buttons -->
<ion-footer class="modal-footer">
  <div class="left-buttons">
    <button class="relias-button button-secondary" disabled>
      Save and Enter Another
    </button>
  </div>
  <div class="right-buttons">
    <button class="relias-button button-secondary" (click)="closeModal()">
      Cancel
    </button>
    <button class="relias-button button-primary" disabled>
      Save
    </button>
  </div>
</ion-footer>
