<!-- header -->
<ion-header>
  <ion-toolbar>
    <ion-title>Metabolic Screening</ion-title>
    <relias-icon [name]="Icons.navClose" slot="end" (click)="closeModal()"></relias-icon>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content>
  <div class="relias-modal-content" *ngIf="screening">
    
    <div class="member-and-date-container">
      <div class="member-search-container">
        <div class="input-label">Member:</div>
        <relias-searchbar></relias-searchbar>
      </div>
      <div class="date-container">
        <div class="input-label">Default Measurement Date:</div>
        <rui-datepicker [model]="screening.defaultDate" (valueSelected)="defaultDateSelected($event)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
      </div>
    </div>
    <div class="member-info medium-text">
      <span>Aztecan, Ishwar</span>
      <span>DOB: Feb 2, 1974</span>
      <span>Last Height: 72.0 in</span>
    </div>

    <div class="table-see-more" [ngClass]="{'hidden': tableAtBottom}" (click)="showMore()">
        <relias-icon [name]="Icons.leftNavExpand"></relias-icon>
        More Fields
    </div>

    <table id="edit-screening" class="relias-table no-column-borders no-alternating-row-shading">
      <thead>
        <th>Attribute</th>
        <th class="value-header">Value</th>
        <th>Date</th>
        <th>Method</th>
        <th>Opt<br>Out</th>
      </thead>
      <tbody>

        <!-- group 1 -->
        <tr class="no-border" [ngClass]="{'disabled': screening.height.optOut}">
          <td>Height</td>
          <td>
            <input [(ngModel)]="screening.height.value"> in
          </td>
          <td>
            <rui-datepicker [model]="screening.height.date" (valueSelected)="dateSelected($event, screening.height)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Actual</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="screening.height.optOut ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(screening.height)">
            </relias-icon>
          </td>
        </tr>
        <tr class="no-border" [ngClass]="{'disabled': screening.height.optOut}">
          <td>Weight</td>
          <td>
            <input [(ngModel)]="screening.weight.value"> lb
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="no-border" [ngClass]="{'disabled': screening.height.optOut}">
          <td>Waist</td>
          <td>
            <input [(ngModel)]="screening.waist.value"> in
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr [ngClass]="{'disabled': screening.height.optOut}">
          <td>BMI</td>
          <td>{{ screening.weight.value | bmi:screening.height.value }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <!-- group 2 -->
        <tr class="no-border" [ngClass]="{'disabled': screening.bpSystolic.optOut}">
          <td>BP Systolic</td>
          <td>
            <input [(ngModel)]="screening.bpSystolic.value"> mmHg
          </td>
          <td>
            <rui-datepicker [model]="screening.bpSystolic.date" (valueSelected)="dateSelected($event, screening.bpSystolic)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Manual</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="screening.bpSystolic.optOut ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(screening.bpSystolic)">
            </relias-icon>
          </td>
        </tr>
        <tr [ngClass]="{'disabled': screening.bpSystolic.optOut}">
          <td>BP Diastolic</td>
          <td>
            <input [(ngModel)]="screening.bpDiastolic.value"> mmHg
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <!-- group 3 -->
        <tr class="no-border" [ngClass]="{'disabled': screening.totalCholesterol.optOut}">
          <td>Total Cholesterol</td>
          <td>
            <input [(ngModel)]="screening.totalCholesterol.value"> mg/dl
          </td>
          <td>
            <rui-datepicker [model]="screening.totalCholesterol.date" (valueSelected)="dateSelected($event, screening.totalCholesterol)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Fasting</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="screening.totalCholesterol.optOut ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(screening.totalCholesterol)">
            </relias-icon>
          </td>
        </tr>
        <tr class="no-border" [ngClass]="{'disabled': screening.totalCholesterol.optOut}">
          <td>LDL</td>
          <td>
            <input [(ngModel)]="screening.ldl.value"> mg/dl
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="no-border" [ngClass]="{'disabled': screening.totalCholesterol.optOut}">
          <td>HDL</td>
          <td>
            <input [(ngModel)]="screening.hdl.value"> mg/dl
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr [ngClass]="{'disabled': screening.totalCholesterol.optOut}">
          <td>Triglycerides</td>
          <td>
            <input [(ngModel)]="screening.triglycerides.value"> mg/dl
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <!-- group 4 -->
        <tr class="no-border" [ngClass]="{'disabled': screening.bloodLeadLevel.optOut}">
          <td>Blood Lead Level</td>
          <td>
            <input [(ngModel)]="screening.bloodLeadLevel.value"> ug/dl
          </td>
          <td>
            <rui-datepicker [model]="screening.bloodLeadLevel.date" (valueSelected)="dateSelected($event, screening.bloodLeadLevel)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
          </td>
          <td>
            <select>
              <option>???</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="screening.bloodLeadLevel.optOut ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(screening.bloodLeadLevel)">
            </relias-icon>
          </td>
        </tr>
        <tr [ngClass]="{'disabled': screening.bloodLeadLevel.optOut}">
          <td>Risk of Lead Exposure</td>
          <td>
            <select class="small-select">
              <option>Yes</option>
            </select>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <!-- group 5 -->
        <tr [ngClass]="{'disabled': screening.bloodGlucose.optOut}">
          <td>Blood Glucose</td>
          <td>
            <input [(ngModel)]="screening.bloodGlucose.value"> mg/dl
          </td>
          <td>
            <rui-datepicker [model]="screening.bloodGlucose.date" (valueSelected)="dateSelected($event, screening.bloodGlucose)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Actual</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="screening.bloodGlucose.optOut ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(screening.bloodGlucose)">
            </relias-icon>
          </td>
        </tr>

        <!-- group 6 -->
        <tr [ngClass]="{'disabled': screening.hba1c.optOut}">
          <td>HbA1c</td>
          <td>
            <input [(ngModel)]="screening.hba1c.value"> %
          </td>
          <td>
            <rui-datepicker [model]="screening.hba1c.date" (valueSelected)="dateSelected($event, screening.hba1c)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Actual</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="screening.hba1c.optOut ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(screening.hba1c)">
            </relias-icon>
          </td>
        </tr>

        <!-- group 7 -->
        <tr [ngClass]="{'disabled': screening.bloodOxygen.optOut}">
          <td>Blood Oxygen</td>
          <td>
            <input [(ngModel)]="screening.bloodOxygen.value"> mmHg
          </td>
          <td>
            <rui-datepicker [model]="screening.bloodOxygen.date" (valueSelected)="dateSelected($event, screening.bloodOxygen)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
          </td>
          <td>
            <select>
              <option>???</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="screening.bloodOxygen.optOut ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(screening.bloodOxygen)">
            </relias-icon>
          </td>
        </tr>

        <!-- group 8 -->
        <tr [ngClass]="{'disabled': screening.pregnant.optOut}">
          <td>Pregnant</td>
          <td>
            <select class="small-select">
              <option>Yes</option>
              <option>No</option>
            </select>
          </td>
          <td>
            <rui-datepicker [model]="screening.pregnant.date" (valueSelected)="dateSelected($event, screening.pregnant)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
          </td>
          <td></td>
          <td>
            <relias-icon 
              [name]="screening.pregnant.optOut ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(screening.pregnant)">
            </relias-icon>
          </td>
        </tr>

        <!-- group 9 -->
        <tr class="no-border" [ngClass]="{'disabled': screening.tobaccoUse.optOut}">
          <td>Tobacco Use</td>
          <td>
            <select class="small-select">
              <option>Yes</option>
            </select>
          </td>
          <td>
            <rui-datepicker [model]="screening.tobaccoUse.date" (valueSelected)="dateSelected($event, screening.tobaccoUse)" [maxDate]="today" name="fieldName" ngDefaultControl></rui-datepicker>
          </td>
          <td></td>
          <td>
            <relias-icon 
              [name]="screening.tobaccoUse.optOut ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(screening.tobaccoUse)">
            </relias-icon>
          </td>
        </tr>
        <tr [ngClass]="{'disabled': screening.tobaccoUse.optOut}">
          <td></td>
          <td colspan="4">
            <input class="comment" placeholder="Comment" [(ngModel)]="screening.tobaccoUse.comment">
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</ion-content>

<!-- footer buttons -->
<ion-footer class="relias-modal-footer">
  <div class="left-buttons">
    <button rui-button-secondary disabled="true">
      Save and Enter Another
    </button>
  </div>
  <div class="right-buttons">
    <button rui-button-secondary (click)="closeModal()">
      Cancel
    </button>
    <button rui-button-primary disabled="true">
      Save
    </button>
  </div>
</ion-footer>
