<!-- header -->
<ion-header>
  <ion-toolbar>
    <ion-title>Metabolic Screening</ion-title>
    <relias-icon [name]="Icons.navClose" slot="end" (click)="closeModal()"></relias-icon>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content>
  <div class="relias-modal-content">
    
    <div class="member-and-date-container">
      <div class="member-search-container">
        <div class="input-label">Member:</div>
        <relias-searchbar></relias-searchbar>
      </div>
      <div class="date-container">
        <div class="input-label">Default Measurement Date:</div>
        <rui-datepicker name="defaultDate" [(ngModel)]="dateValue"></rui-datepicker>
      </div>
    </div>
    <div class="member-info medium-text">
      <span>Aztecan, Ishwar</span>
      <span>DOB: Feb 2, 1974</span>
      <span>Last Height: 72.0 in</span>
    </div>

    <div class="table-see-more" [ngClass]="{'hidden': tableAtBottom}" (click)="showMore()">
        <relias-icon [name]="Icons.leftNavExpand"></relias-icon>
        More Fields
    </div>

    <table id="edit-screening" class="relias-table no-column-borders no-alternating-row-shading">
      <thead>
        <th>Attribute</th>
        <th>Value</th>
        <th>Date</th>
        <th>Method</th>
        <th>Opt<br>Out</th>
      </thead>
      <tbody>

        <!-- group 1 -->
        <tr class="no-border" [ngClass]="{'disabled': optOut[0]}">
          <td>Height</td>
          <td>
            <input value="72.0"> in
          </td>
          <td>
            <rui-datepicker [(ngModel)]="dateValue"></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Actual</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="optOut[0] ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(0)">
            </relias-icon>
          </td>
        </tr>
        <tr class="no-border" [ngClass]="{'disabled': optOut[0]}">
          <td>Weight</td>
          <td>
            <input value="215"> lb
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="no-border" [ngClass]="{'disabled': optOut[0]}">
          <td>Waist</td>
          <td>
            <input> in
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr [ngClass]="{'disabled': optOut[0]}">
          <td>BMI</td>
          <td>29.2</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <!-- group 2 -->
        <tr class="no-border" [ngClass]="{'disabled': optOut[1]}">
          <td>BP Systolic</td>
          <td>
            <input value="125"> mmHg
          </td>
          <td>
            <rui-datepicker [(ngModel)]="dateValue"></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Manual</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="optOut[1] ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(1)">
            </relias-icon>
          </td>
        </tr>
        <tr [ngClass]="{'disabled': optOut[1]}">
          <td>BP Diastolic</td>
          <td>
            <input value="85"> mmHg
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <!-- group 3 -->
        <tr class="no-border" [ngClass]="{'disabled': optOut[2]}">
          <td>Total Cholesterol</td>
          <td>
            <input value=""> mg/dl
          </td>
          <td>
            <rui-datepicker [(ngModel)]="dateValue"></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Fasting</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="optOut[2] ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(2)">
            </relias-icon>
          </td>
        </tr>
        <tr class="no-border" [ngClass]="{'disabled': optOut[2]}">
          <td>LDL</td>
          <td>
            <input value=""> mg/dl
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="no-border" [ngClass]="{'disabled': optOut[2]}">
          <td>HDL</td>
          <td>
            <input value=""> mg/dl
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr [ngClass]="{'disabled': optOut[2]}">
          <td>Triglycerides</td>
          <td>
            <input value=""> mg/dl
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <!-- group 4 -->
        <tr class="no-border" [ngClass]="{'disabled': optOut[3]}">
          <td>Blood Lead Level</td>
          <td>
            <input value="25"> ug/dl
          </td>
          <td>
            <rui-datepicker [(ngModel)]="dateValue"></rui-datepicker>
          </td>
          <td>
            <select>
              <option>???</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="optOut[3] ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(3)">
            </relias-icon>
          </td>
        </tr>
        <tr [ngClass]="{'disabled': optOut[3]}">
          <td>Risk of Lead Exposure</td>
          <td>
            <select class="small">
              <option>Yes</option>
            </select>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <!-- group 5 -->
        <tr [ngClass]="{'disabled': optOut[4]}">
          <td>Blood Glucose</td>
          <td>
            <input value=""> mg/dl
          </td>
          <td>
            <rui-datepicker [(ngModel)]="dateValue"></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Actual</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="optOut[4] ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(4)">
            </relias-icon>
          </td>
        </tr>

        <!-- group 6 -->
        <tr [ngClass]="{'disabled': optOut[5]}">
          <td>HbA1c</td>
          <td>
            <input value=""> %
          </td>
          <td>
            <rui-datepicker [(ngModel)]="dateValue"></rui-datepicker>
          </td>
          <td>
            <select>
              <option>Actual</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="optOut[5] ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(5)">
            </relias-icon>
          </td>
        </tr>

        <!-- group 7 -->
        <tr [ngClass]="{'disabled': optOut[6]}">
          <td>Blood Oxygen</td>
          <td>
            <input value=""> mmHg
          </td>
          <td>
            <rui-datepicker [(ngModel)]="dateValue"></rui-datepicker>
          </td>
          <td>
            <select>
              <option>???</option>
            </select>
          </td>
          <td>
            <relias-icon 
              [name]="optOut[6] ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(6)">
            </relias-icon>
          </td>
        </tr>

        <!-- group 8 -->
        <tr [ngClass]="{'disabled': optOut[7]}">
          <td>Pregnant</td>
          <td>
            <select class="small">
              <option>Yes</option>
              <option>No</option>
            </select>
          </td>
          <td>
            <rui-datepicker [(ngModel)]="dateValue"></rui-datepicker>
          </td>
          <td></td>
          <td>
            <relias-icon 
              [name]="optOut[7] ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(7)">
            </relias-icon>
          </td>
        </tr>

        <!-- group 9 -->
        <tr class="no-border" [ngClass]="{'disabled': optOut[8]}">
          <td>Tobacco Use</td>
          <td>
            <select class="small">
              <option>Yes</option>
            </select>
          </td>
          <td>
            <rui-datepicker [(ngModel)]="dateValue"></rui-datepicker>
          </td>
          <td></td>
          <td>
            <relias-icon 
              [name]="optOut[8] ? Icons.controlChecked : Icons.controlUnchecked"
              (click)="toggleOptOut(8)">
            </relias-icon>
          </td>
        </tr>
        <tr [ngClass]="{'disabled': optOut[8]}">
          <td></td>
          <td colspan="4">
            <input class="comment" placeholder="Comment">
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</ion-content>

<!-- footer buttons -->
<ion-footer class="relias-modal-footer">
  <div class="left-buttons">
    <button class="relias-button button-secondary" disabled>
      Save and Enter Another
    </button>
  </div>
  <div class="right-buttons">
    <button class="relias-button button-secondary" (click)="closeModal()">
      Cancel
    </button>
    <button class="relias-button button-primary" disabled>
      Save
    </button>
  </div>
</ion-footer>
