// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// import the shared style guide
@import './app/styles/style-guide.scss';

// since we have the top nav, 
// bring the rest of the app down 65px
ion-app {
  top: 65px !important;
}

// set background and width of the left nav
ion-menu.left-nav-menu ion-content {
  --background: #3F6969;
}
.split-pane-visible > .split-pane-side {
  min-width: 200px !important;
  max-width: 200px !important;
  border: none !important;
}

// add the green border around the page
.page-content {
  background: $accent-primary;
  min-height: 100%;

  .content-card {
    background: #fff;
  }
}

//// OVERRIDES ////

*[padding] {
  padding: 10px;
}

body {
  line-height: initial;
}


//// RELIAS UI FIXES ////

// the width of the input shouldn't be set to 85%, take 100% of 
// the space available except for what's needed for the button
.rui-datepicker .ui-calendar.ui-calendar-w-btn .ui-inputtext {
  width: calc(100% - 33px);
}
// the width of the button should not be 15% of its container,
// that width can change. The button looks good at 33px wide
.rui-datepicker .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  height: 30px;
  width: 33px;
}
// the specs I'm looking at have the calendar component showing
// as 120-132px wide throughout the application. Just enough
// space to show the date in the input box next to the button
// just setting this as the new default for this application
.rui-datepicker .ui-calendar {
  display: flex;
  width: 132px;
}
// the dates you can click on have variable widths, which makes
// for some ovals instead of circles when selected, fix that
.rui-datepicker .ui-datepicker table td > a, 
.rui-datepicker .ui-datepicker table td > span {
  width: 33px;
  height: 33px;
  margin: auto;
}
// when you select a date, the text should be white on the dark
// green background as soon as you select it
.rui-datepicker .ui-datepicker table td > a.ui-state-active, 
.ui-datepicker table td > span.ui-state-active {
  color: #fff;
}
// fix the height of the buttons to match spec
.rui-btn.relias-btn-primary, .rui-btn.relias-btn-secondary {
  max-height: 30px;
  line-height: 15px;
}



//// PRINT ////

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}