// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// import the shared style guide
@import './app/styles/style-guide.scss';

// since we have the top nav, 
// bring the rest of the app down 65px
ion-app {
  top: 65px !important;
}

// set background and width of the left nav
ion-menu.left-nav-menu ion-content {
  --background: #3F6969;
}
.split-pane-visible > .split-pane-side {
  min-width: 200px !important;
  max-width: 200px !important;
  border: none !important;
}

// add the green border around the page
.page-content {
  background: $accent-primary;
  min-height: 100%;

  .content-card {
    background: #fff;
  }
}

//// OVERRIDES ////

*[padding] {
  padding: 10px;
}